.mainContainer {
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-direction: row;
    /* border-style: solid; */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    
}

.mainContainerText{
    margin: 1%;
    padding: 2%;
    color: black;
    background-image: url("src/assets/images/cemetery_pic.jpg");
    background-size: cover;
    /* background-color: #7CA653; */
}

.cardMainContainer{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-direction: row;
    margin: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 300px;
    max-height: 400px;

}

.cardImg{
    padding: 1rem;
    justify-content: center;
}

.mainContainerImg1{
    max-width: 900px;
    text-align: center;
}