

.mainContainerText{
    max-width: 50%;
}

.mainContainerImg{
    display: flex;
    flex-grow: 2;
    padding: 1rem;
}


.secondContainerText{
    padding: 1rem;
}
.secondContainerImg{
    max-width: 50%;
    object-fit: cover;
    padding: 1rem;
}

img{
    max-width: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    
}

@media only screen and (max-width: 900px) {
    .mainContainerText {
        margin: 5px;
        max-width: 100%;
    }

    .secondContainerImg{
        max-width: 100%;
        object-fit: cover;
        padding: 10px;
    }
 }