<app-navbar></app-navbar>

<div class="maincontainer">
    <p>Troop 47 the your local Scout Troop sponsored by American Legion Post 47 in South Cache Valley is embarking on an
        opportunity to show respect for the U.S. Veterans buried in the Hyrum City Cemetery. We will be accepting
        donations from business owners and individuals who wish to pay respect for the service rendered by these
        veterans. We will be placing full sized flags next to each veteran in the Hyrum Cemetery ten separate times
        between Memorial Day and Pearl Harbor Day. We are excited for the chance to show respect for all those in our
        community who have served and passed on.
        We invite you to participate in the Troop 47 Honor a Veteran program. We are asking for a $50.00 donation and in
        return we will attach a tag to one of the flags, placed at the grave of a Veteran in the cemetery advertising
        your support. You are not limited in the number of flags you may sponsor. When donations exceed the numbers of
        veterans in the cemetery we will also decorate the Veteran’s Memorial Park in the Southeast corner of the
        cemetery and, along the Main Street cemetery fence. We will also provide you with a donation receipt for your
        participation.
        If you are part of an organization that previously used flags as a fund raising project and are no longer
        participating Troop 47 would gladly put those flags to good use through the Honor a Veteran program.
        We believe that the Honor a Veteran program allows us to put into action our promise to “Do our duty to God and
        our Country”. We hope you will consider the opportunity of assisting us financially and encouraging us to pay
        honor and respect for those veterans who have passed on. As a scout troop we are proud of the service given to
        protect our freedoms and allow us to improve our role as good citizens.
        If you would like to participate in the Honor a Veteran Program and / or have flags you are no longer using
        please reach out to us through troop47@gmail.com and we will share information about how to make donations.
        Sincerely,
        ZanDen Summers​​​ - Senior Patrol Leader
        Travis Parker​​​ - Scoutmaster
        Keith DeHart- Committee Chair</p>
</div>