<app-navbar></app-navbar>
<div class="mainContainer">
    <img
        src="assets/images/rankbanner.jpg"
        alt="Cemetery Flag Image"
      />
    <div class="textwords">
        When things go wrong, as they sometimes will, 
        <br>When the road you're trudging seems all uphill, 
        <br>When the funds are low, and the debts are high, 
        <br>And you want to smile, but you have to sigh, 
        <br>When care is pressing you down a bit, 
        <br>Rest if you must, but don't you quit. 
        <br>
        <br>Life is strange with its twists and turns, 
        <br>As every one of us sometimes learns, 
        <br>And many a failure turns about, 
        <br>Into success 'cause we stuck it out. 
        <br>Don't give up though the pace seems slow, 
        <br>You may succeed with another blow. 
        <br>
        <br>Success is failure turned inside out, 
        <br>The silver tint of the clouds of doubt, 
        <br>And you never can tell how close you are, 
        <br>It may be near when it seems so far.
        <br>So stick to the fight when you're hardest hit, 
        <br>It's when things seem worse that you must not quit. 
        <br>
    </div><p>scoutmaster-minute works!</p>


</div>